<template>
    <div class="full-height d-flex sliding flex-wrap justify-center">
        <v-card style="margin: 1rem;" class="text-center" align="stretch" justify="center" width="400">
            <v-card-text class="headline">
                {{businessName}}
            </v-card-text>
            <v-card-text>
              Business Description
            </v-card-text>
            
            <v-card-actions style="margin-top: 1rem;" class="justify-space-around align-center">
              <v-btn class="primary" :to="{path: '/contact'}">
                  <v-icon style="margin-right: 0.5rem">mail</v-icon>Get in touch
              </v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>
<script lang="ts">
  import { Component, Vue} from 'nuxt-property-decorator';

  @Component({
    components: {
    },
    middleware: 'guest'
  })
  export default class About extends Vue {
    public businessName: string
    
    public data() {
        return {
          businessName: process.env.BUSINESS_NAME
        }
    }
  }
</script>
