<template>
    <v-stepper style="height: 100%; background-repeat: no-repeat; background-color: rgba(255, 255, 255, 0); background-image: linear-gradient(white, white); background-size: 100% 72px" v-model="calculatedCheckoutStep">
    <v-stepper-header>
      <v-stepper-step :complete="calculatedCheckoutStep > 1" step="1" @click="calculatedCheckoutStep = 1">Review Cart</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="calculatedCheckoutStep > 2" step="2" @click="calculatedCheckoutStep = 2">Shipping &amp; Handling</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="calculatedCheckoutStep > 3" step="3" @click="calculatedCheckoutStep = 3">Payment</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="calculatedCheckoutStep == 4" step="4" @click="calculatedCheckoutStep = 4">Order Complete!</v-stepper-step>
    </v-stepper-header>
    <v-stepper-items class="d-flex">
      <v-stepper-content step="1">
        <v-container>
          <v-row align="stretch">
            <v-col></v-col>
            <v-col>
              <v-card
                
                flat
                outlined
                tile
                class="d-flex flex-column ma-2 pa-0 align-self-end fade-in-start fade-in full-height d-flex fill-height"
                
                v-if="hydratedCart.length > 0"
                width="800">
                <div class="full-width">
                  <v-card-title class="full-width justify-center display-2">
                    Your Items
                  </v-card-title>
                  <v-card-text class="ma-0 pa-0 full-width">
                    <v-container fluid class="ma-0 pa-0 full-width">
                      <v-row class="text-center full-width ma-0 pa-0" v-for="(product, index) in hydratedCart" :class="index % 2 ? 'grey lighten-2' : 'grey lighten-3'" v-bind:key="product.sku">
                        <v-col md-auto class="ma-0 pa-0">
                          <v-container v-if="product.pictures" class="ma-0 pa-0">
                            <v-row>
                              <v-col md-auto class="d-flex">
                                <ProductCard
                                  :width="100"
                                  :height="100"
                                  :enforceContainPicture="true"
                                  :showImageControls="false"
                                  :showActionButtons="false"
                                  :showTitle="false"
                                  :sku="product.sku"
                                  :pictures="product.pictures"
                                  :price="product.price">
                                </ProductCard>
                              </v-col>
                              <v-col md="6" class="d-flex flex-column align-center justify-center">
                                <div class="black--text">{{product.name}}</div>
                                <div class="grey--text subtitle-1">{{product.description}}</div>
                              </v-col>
                              
                              <v-col md-auto class="d-flex align-center justify-center"><span color="white">x{{product.quantity}}</span></v-col>
                              <v-col md-auto class="d-flex align-center justify-center mr-2">(${{ (product.price * product.quantity).toFixed(2) }})</v-col>
                            </v-row>
                          </v-container>
                          <v-container v-else class="ma-0 pa-0">
                            <v-row>
                              <v-col md="2" :align-self="'center'">x{{product.quantity}}</v-col>
                              <v-col md="3" :align-self="'center'"><v-btn text color="primary">${{product.price.toFixed(2)}}</v-btn></v-col>
                              <v-col md-auto class="grey--text title text-left">{{product.description}}</v-col>
                            </v-row>
                          </v-container>
                        </v-col>
                      </v-row>
                      <v-row class="mt-8">
                        <v-col md="6"></v-col>
                        <v-col md-auto :align-self="'center'" class="display-1 text-center">{{cartItemCount}} item(s)</v-col>
                        <v-col md-auto class="display-1 text-center">
                          ${{cartTotal}}
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                </div>
                <div class="full-width d-flex flex-column align-self-stretch mt-12">
                  <v-card-actions class="justify-end align-center align-self-end">
                      <v-btn large light color="highlight" @click="clearCart()">
                        <v-icon>remove_shopping_cart</v-icon> Clear Cart
                      </v-btn>
                      <v-btn large color="secondary" @click="checkout()">
                        
                        <v-icon style="width: 2.5rem; display: inline;">local_shipping</v-icon>
                        Shipping
                        <v-icon>arrow_right</v-icon>
                      </v-btn>
                  </v-card-actions>
                  <v-card-text class="full-width d-flex flex-row align-center justify-end">
                    <div>
                      <v-img width="75" height="35.7" src="/Stripe_logo_white.svg" alt="Stripe online payments"></v-img>
                    </div>

                    <div class="d-flex flex-inline">
                      <v-img width="32" height="20" src="/cards/visa.png" alt="Visa"></v-img>
                      <v-img width="32" height="20" src="/cards/mastercard.png" alt="Mastercard"></v-img>
                      <v-img width="32" height="20" src="/cards/discover.png" alt="Discover"></v-img>
                      <v-img width="32" height="20" src="/cards/amex.png" alt="American Express"></v-img>
                    </div>
                  </v-card-text>
                </div>
              </v-card>
              <v-card
                v-else
                max-width="800"
                
                flat
                outlined
                tile
                class="full-height d-flex align-center ma-2 pa-2 align-self-end fade-in-start fade-in noisy"
                color="secondary">
                <div class="full-width">
                  <v-card-text class="text-center display-2">
                    Your cart is empty!
                  </v-card-text>
                  <v-card-actions class="justify-center align-center">
                    <v-btn large color="primary" :to="{path: '/'}">
                      <v-icon>shopping_cart</v-icon>&nbsp;Keep Shopping
                    </v-btn>
                  </v-card-actions>
                </div>
              </v-card>
              
            </v-col>
            <v-col></v-col>
          </v-row>
        </v-container>
      </v-stepper-content>
      <v-stepper-content step="2">
        <v-container>
          <v-row align="stretch">
            <v-col></v-col>
            <v-col>
              <v-card
                
                flat
                outlined
                tile
                class="d-flex flex-column ma-2 pa-0 align-self-end fade-in-start fade-in full-height d-flex fill-height"
                
                width="800">
                <div class="full-width">
                  <v-card-title class="full-width justify-center display-2">
                    Shipping Options
                  </v-card-title>
                  <v-card-text>
                    <v-form
                    v-model="calculatedValid"
                    ref="formShipping"
                    :lazy-validation="false">
                      <v-autocomplete
                        v-on:input="apiCheckAddress()"
                        ref="fieldCountry"
                        :items="calculatedCountries"
                        v-model="countryValue"
                        :rules="countryRules"
                        required
                        label="Country"
                        class="autofillable"
                        @change="apiCheckAddress()"
                      ></v-autocomplete>
                      <v-text-field
                        v-on:input="apiCheckAddress()"
                        v-on:animationstart="animationStartHandler"
                        ref="fieldFullName"
                        v-model="fullName"
                        name="fullName"
                        label="Full Name"
                        id="fullName"
                        class="autofillable"
                        :rules="fullNameRules"
                      ></v-text-field>
                      <v-text-field
                        name="email"
                        label="E-Mail"
                        id="email"
                        ref="fieldEmail"
                        v-model="email"
                        class="autofillable"
                        :rules="emailRules"
                      ></v-text-field>
                      <v-text-field
                        v-on:input="apiCheckAddress()"
                        v-on:animationstart="animationStartHandler"
                        ref="fieldAddress1"
                        v-model="address1"
                        name="address1"
                        label="Address (Line 1)"
                        id="address1"
                        :rules="address1Rules"
                        class="autofillable"
                        @keyup="apiCheckAddress()"
                      ></v-text-field>
                      <v-text-field
                        v-on:input="apiCheckAddress()"
                        v-on:animationstart="animationStartHandler"
                        ref="fieldAddress2"
                        v-model="address2"
                        name="address2"
                        label="Address (Line 2)"
                        id="address2"
                        class="autofillable"
                        @keyup="apiCheckAddress()"
                      ></v-text-field>
                      <v-text-field
                        v-on:input="apiCheckAddress()"
                        v-on:animationstart="animationStartHandler"
                        ref="fieldCityTown"
                        v-model="cityTown"
                        name="cityTown"
                        label="City / Town"
                        id="cityTown"
                        :rules="cityTownRules"
                        class="autofillable"
                        @keyup="apiCheckAddress()"
                        @change="apiCheckAddress()"
                      ></v-text-field>
                      <v-autocomplete
                        v-on:input="apiCheckAddress()"
                        ref="fieldState"
                        name="state"
                        id="state"
                        :items="calculatedRegions"
                        v-model="state"
                        label="State / Region / Province"
                        :rules="stateRules"
                        class="autofillable"
                        @change="apiCheckAddress()"
                      ></v-autocomplete>
                      <v-text-field
                        v-on:input="apiCheckAddress()"
                        v-on:animationstart="animationStartHandler"
                        ref="fieldPostalZipCode"
                        v-model="postalZipCode"
                        name="postalZipCode"
                        label="Postal / Zip Code"
                        id="postalZipCode"
                        :rules="postalZipCodeRules"
                        class="autofillable"
                        @keyup="apiCheckAddress()"
                        @change="apiCheckAddress()"
                      ></v-text-field>
                    </v-form>
                  </v-card-text>

                  <v-card-text>
                    <v-container>
                      <v-row>
                          <v-col>
                            Shipping Method:
                            <v-radio-group v-model="shippingMethod">
                              <v-radio
                                v-for="method in shippingMethods"
                                :key="method.id"
                                :label="`$${method.price.toFixed(2)} - ${method.description}`"
                                :value="method.value"></v-radio>
                            </v-radio-group>
                          </v-col>
                          <v-col>
                            <div v-if="addressValid">
                                <v-switch inset :label="`Use Standardized Address?`" v-model="useValidatedAddress"></v-switch>

                                <v-card class="ma-4">
                                    <v-card-text>
                                        <div>{{fullName}}</div>
                                        <div>{{validatedAddress.Address.Address1}}</div>
                                        <div>{{validatedAddress.Address.Address2}}</div>
                                        <div>{{validatedAddress.Address.City}}</div>
                                        <div>{{validatedAddress.Address.State}}</div>
                                        <div>{{validatedAddress.Address.Zip5}}<span v-if="validatedAddress.Address.Zip4">-{{validatedAddress.Address.Zip4}}</span></div>
                                    </v-card-text>
                                </v-card>
                            </div>
                          </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  
                  <v-card-text>
                    <v-container>
                      <v-row class="mt-8">
                        <v-col md-auto :align-self="'center'" class="title text-right">{{cartItemCount}} item(s)</v-col>
                        <v-col md="6" class="title text-right">
                          ${{cartTotal}}
                        </v-col>
                      </v-row>
                      <v-row class="">
                        <v-col md-auto :align-self="'center'" class="title text-right">{{shippingMethod? getShippingMethodLabel(shippingMethod) : ''}}</v-col>
                        <v-col md="6" class="title text-right">
                          ${{shippingMethod? getShippingCost(shippingMethod) : ''}}
                        </v-col>
                      </v-row>
                      <v-row class="">
                        <v-col md-auto :align-self="'center'" class="display-1 text-right">Total:</v-col>
                        <v-col md="6" class="display-1 text-right">
                          ${{shippingMethod ? getCartTotalWithShipping(cartTotal, shippingMethod) : ''}}
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-text class="caption text-right"> * Please note, customer is responsible for VAT and/or applicable import fees.</v-card-text>
                  <v-card-actions class="full-width justify-end align-center align-self-end">                    
                    <v-btn large light color="highlight" @click="calculatedCheckoutStep = 1">
                      <v-icon>arrow_left</v-icon> Edit Cart
                    </v-btn>
                    <v-btn :disabled="!calculatedValid" large color="secondary" @click="calculatedCheckoutStep = 3">
                      
                      <v-icon style="width: 2.5rem; display: inline;">credit_card_outline</v-icon>
                      Payment
                      <v-icon>arrow_right</v-icon>
                    </v-btn>
                  </v-card-actions>
                </div>
              </v-card>
            </v-col>
            <v-col></v-col>
          </v-row>
        </v-container>
      </v-stepper-content>
      <v-stepper-content step="3">
        <v-container>
          <v-row>
            <v-col></v-col>
            <v-col>
              <v-card
                
                flat
                outlined
                tile
                class="d-flex flex-column ma-2 pa-0 align-self-end fade-in-start fade-in full-height d-flex fill-height"
                
                v-if="$store.state.cart.length > 0"
                width="800">
                <div class="full-width">
                  <v-card-title class="full-width justify-center display-2">
                    Payment
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row class="mt-8">
                        <v-col md-auto :align-self="'center'" class="title text-right">{{cartItemCount}} item(s)</v-col>
                        <v-col md="6" class="title text-right">
                          ${{cartTotal}}
                        </v-col>
                      </v-row>
                      <v-row class="">
                        <v-col md-auto :align-self="'center'" class="title text-right">{{getShippingMethodLabel(shippingMethod)}}</v-col>
                        <v-col md="6" class="title text-right">
                          ${{getShippingCost(shippingMethod)}}
                        </v-col>
                      </v-row>
                      <v-row class="">
                        <v-col md-auto :align-self="'center'" class="display-1 text-right">Total:</v-col>
                        <v-col md="6" class="display-1 text-right">
                          ${{getCartTotalWithShipping(cartTotal, shippingMethod)}}
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-text>
                    <v-card
                      :disabled="calculatedProcessingPayment"
                      color="highlight"
                      width="800">
                      <v-card-text id="card_element" ref="card_element"></v-card-text>
                      <v-card-actions class="full-width justify-center align-center">
                        <v-btn large v-if="!calculatedProcessingPayment" :fab="calculatedProcessingPayment" color="primary" class="full-width" @click="payment()">
                          PAY
                        </v-btn>
                        <v-progress-circular
                          v-else
                          indeterminate
                          color="primary"
                          :size="40"
                        ></v-progress-circular>
                      </v-card-actions>
                    </v-card>
                  </v-card-text>
                  <v-card-text class="full-width d-flex flex-row align-center justify-end">
                    <div>
                      <v-img width="75" height="35.7" src="/Stripe_logo_white.svg" alt="Stripe online payments"></v-img>
                    </div>

                    <div class="d-flex flex-inline">
                      <v-img width="32" height="20" src="/cards/visa.png" alt="Visa"></v-img>
                      <v-img width="32" height="20" src="/cards/mastercard.png" alt="Mastercard"></v-img>
                      <v-img width="32" height="20" src="/cards/discover.png" alt="Discover"></v-img>
                      <v-img width="32" height="20" src="/cards/amex.png" alt="American Express"></v-img>
                    </div>
                  </v-card-text>
                </div>
              </v-card>
            </v-col>
            <v-col></v-col>
          </v-row>
        </v-container>
      </v-stepper-content>
      <v-stepper-content step="4">
        <v-container>
          <v-row>
            <v-col></v-col>
            <v-col>
              <v-card
                
                flat
                outlined
                tile
                class="d-flex flex-column ma-2 pa-0 align-self-end fade-in-start fade-in full-height d-flex fill-height"
                
                width="800">
                <div class="full-width">
                  <v-card-text class="align-center">
                    <v-progress-circular
                      indeterminate
                      :size="100"
                      :width="15"
                      color="primary"
                      style="margin: 0 calc(50% - 50px);">
                      Loading
                    </v-progress-circular>
                  </v-card-text>
                </div>
              </v-card>
            </v-col>
            <v-col></v-col>
          </v-row>
        </v-container>
        
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>
<script>
import ProductCard from '@/components/ProductCard'
import productData from '@/api/mock/product'
import serviceData from '@/api/mock/service'
import axios from 'axios'

export default {
  middleware: 'guest',
  components: {
    ProductCard
  },
  props: {
    action: {
      default: ''
    },
    data: {
      default: ''
    },
    quantity: {
      default: 1
    }
  },
  computed: {
    calculatedProcessingPayment: {
      get() {
        return this.processing
      },
      set(newValue) {
        this.processing = newValue
        this.$emit('update:processing', newValue)
      }
    },
    calculatedCheckoutStep: {
      get() {
        return this.checkoutStep
      },
      set(newValue) {
        this.checkoutStep = newValue
        if (newValue == 3) {
          this.setupStripeCard()
        }
        this.$emit("update:checkoutStep")
      }
    },
    calculatedValid: {
        get() {
            return this.valid
        },
        set(newValue) {
            this.valid = newValue
            this.$emit('update:valid', newValue)
        }
    },
    countryValue: {
      get() {
        return this.country
      },
      set(newValue) {
        this.country = newValue
        this.$emit('update:country', newValue)
        if (newValue) {
            this.apiRegions()
        } else {
            this.calculatedRegions = []
        }
      }
    },
    calculatedCountries: {
      get() {
        let value = []
        if (this.countries) {
          let countries = this.countries
          
          // console.table("calculatedCountries populated", countries)
          value = countries.map((entry) => {
              return Object.assign(
                {},
                entry,
                {"text": entry.country},
                {"value": entry.code}
              )
          })
        }
        return value
      },
      set(newValue) {
        this.countries = newValue
        this.$emit('update:countries', newValue)
      }
    },
    calculatedRegions: {
      get() {
        // console.log("calculatedRegions get()", this.regions
        let value = []
        if (this.regions) {
            value = this.regions.map((entry) => {
              return Object.assign(
                {},
                entry,
                {"text": entry.name},
                {"value": entry.code}
              )
            })
        }
        return value
      },
      set(newValue) {
        // console.log("calculatedRegions SET", newValue)
        this.regions = newValue
        this.$emit('update:regions', newValue)
      }
    },
    calculatedShippingMethods: {
      get() {
        return this.shippingMethods
      },
      set(newValue) {
        this.shippingMethods = newValue
        this.$emit('update:shippingMethods', newValue)
      }
    },
    
    cartTotal: {
      get() {
        let total = 0.00
        this.hydratedCart.map((item) => {

          total += (+item.price) * (+item.quantity)
        })
        return total.toFixed(2)
      },
      set() {}
    },
    cartItemCount: {
      get() {
        let value = 0
        this
          .$store
          .state
          .cart
          .map(
            (item) => {
              value += (+item.quantity)
            }
          )
        return value;
      },
      set() {

      }
    },
    hydratedCart: {
      get() {
        const cart = this.$store.state.cart.filter((i) => i)
        const products = [
          ...productData.filter((d) => d.sku),
          ...serviceData.filter((d) => d.sku)
        ]
        // console.info(products)
        const hydrated = cart.map((item) => {
          // console.info("cart.map at item sku", item.sku)

          const hydratedItem = products.find((p) => {
            return p.sku === item.sku
          })
          if (typeof hydratedItem !== 'undefined') {
            hydratedItem.quantity = item.quantity
          }
          return hydratedItem
        }).filter((h) => h)

        return hydrated
      }
    },
    cartValue: {
      get() {
        const cart = this.$store.state.cart
        return cart
      }
    },
    successUrlValue: {
      get() {
        const url = process.env.BASE_URL + '/checkout-success'
        return url
      }
    },
    cancelUrlValue: {
      get() {
        const url = process.env.BASE_URL + '/checkout-cancel'
        return url
      }
    },
    actionValue: {
      get() {
        return this.action
      },
      set(newValue) {
        this.$emit('update:action', newValue)
      }
    },
    dataValue: {
      get() {
        return this.data
      },
      set(newValue) {
        this.$emit('update:data', newValue)
      }
    },
    quantityValue: {
      get() {
        return this.quantity
      },
      set(newValue) {
        this.$emit('update:quantity', newValue)
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    let cart;
    let skus;
    let items;

    next((vm) => {
      vm.apiShippingMethods()
      vm.apiCountries()

      switch (to.params.action) {
        case 'add':

          cart = vm.$store.state.cart
          items = [{
            sku: to.params.data,
            quantity: to.params.quantity ? (+to.params.quantity) : 1
          }]
          skus = new Set(cart.map((i) => i.sku))

          let exists = 0;
          let existingItem = {};
          items = items.filter((i) => {
            if (skus.has(i.sku)) {
              const cartItemIndex = cart.findIndex((item) => item.sku === i.sku)

              exists = (+cart[cartItemIndex].quantity) + (+i.quantity)
              existingItem = (cart[cartItemIndex])
            }
            return !skus.has(i.sku)
          })
          
          if (exists > 0) {
            vm.$store.commit('updateItem', {item: existingItem, quantity: exists})
          } else {
            if (items.length > 0) {
              vm.$store.commit('addToCart', items[0])
            }
          }

          break
        default:
          break
      }
    })
  },
  async created() {
    await this.apiShippingMethods()
    await this.apiCountries()
  },
  mounted() {

  },
  data() {
    return {
      _clientSecret: null,
      _card: null,
      _timerApiCheckAddress: null,
      _isStripeCardSetup: false,
      fullName: '',
      fullNameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 100) || 'Name must be less than 100 characters.',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      country: '',
      countryRules: [
        v => !!v || 'Country is required.'
      ],
      countries: [],
      state: '',
      stateRules: [
        v => !!v || 'State, Region, or Province is required.'
      ],
      regions: [],
      address1: '',
      address1Rules: [
        v => !!v || 'Address1 is required.'
      ],
      address2: '',
      cityTown: '',
      cityTownRules: [
        v => !!v || 'City or Town is required.'
      ],
      postalZipCode: '',
      postalZipCodeRules: [
        v => !!v || 'Postal or Zip Code is required.',
        v => (v && v.length >= 4) || 'Postal or Zip Code too short.'
      ],
      shippingMethod: 'free',
      shippingMethods: [],
      addressValid: false,
      validatedAddress: null,
      checkoutStep: 1,
      loading: !process.browser,
      successUrl: process.env.BASE_URL + '/checkout-success',
      cancelUrl: process.env.BASE_URL + '/checkout-cancel',
      productData,
      useValidatedAddress: false,
      stripeCardIntent: null,
      processing: false,
      orderDetails: null,
      valid: false
    }
  },
  methods: {
    async setupStripeCard() {
      // console.log("setupStripeCard() called")
      if (process.browser && !this._isStripeCardSetup) {
        if (!this.$stripe) {
          throw "this.$stripe is not defined!! Is the nuxt-stripe module loaded?"
        } else {
          console.error("/pages/checkout::setupStripeCard()", "this.$stripe found!")
        }
        try {
          let stripeCardIntent = await this.apiStripeCardIntent()
          this.stripeCardIntent = stripeCardIntent

          // console.log('this.$stripe', this.$stripe, 'stripeCardIntent', stripeCardIntent)
          const elements = this.$stripe.elements()
          const style = {
            base: {
              color: "#672aa7",
              fontFamily: 'Arial, sans-serif',
              fontSmoothing: "antialiased",
              fontSize: "1.2rem",
              "::placeholder": {
                color: "#672aa7"
              }
            },
            invalid: {
              fontFamily: 'Arial, sans-serif',
              color: "#ff00ff",
              iconColor: "#ff00ff"
            }
          }
          this._card = elements.create('card', {style: style})

          this._card.mount('#card_element')
          this._isStripeCardSetup = true
          // console.log("Mounted card_element")
        } catch (err) {
          console.err("/pages/checkout::setupStripeCard() error", err)
        }
        
      }
    },
    animationStartHandler(e) {
      //
      // console.log("animationStart event!", e)
      switch(e.animationName) {
        case 'onAutoFillStart':
          this.apiCheckAddress()
          break;
      }
    },
    getShippingMethodLabel(shippingMethod) {
        let label = ''
        if (this.shippingMethods && this.shippingMethods.length > 0) {
            const shippingObject = this.shippingMethods.filter((method) => {
                return method.value == shippingMethod
            })

            if (shippingObject.length > 0) {
                label += shippingObject[0].description
            }
        }

        return label
    },
    getShippingCost(shippingMethod) {
        let total = 0.00
        if (this.shippingMethods && this.shippingMethods.length > 0) {
            const shippingObject = this.shippingMethods.filter((method) => {
                return method.value == shippingMethod
            })
            if (shippingObject.length > 0) {
                total += (+shippingObject[0].price)
            }
        }
        return (+total).toFixed(2)
    },
    getCartTotalWithShipping(cartTotal, shippingMethod) {
        let total = (+cartTotal) + (+this.getShippingCost(shippingMethod))
        
        return (+total).toFixed(2)
    },
    getCartItemSkus() {
      let result = []

      this
        .$store
        .state
        .cart
        .map((item) => {
          result.push(item.sku)
        })

      return result
    },
    async apiStripeCardIntent() {
      const items = this.$store.state.cart
      // console.log("use Standardized Address?", this.useValidatedAddress)
      const purchase = {
        email: this.email,
        items: items,
        shipping: {
          method: this.shippingMethod,
          country: this.countryValue,
          fullName: this.fullName,
          address1: this.addressValid &&
                    this.useValidatedAddress ? 
                      this.validatedAddress.Address.Address1 :
                      this.address1,
          address2: this.addressValid &&
                    this.useValidatedAddress ? 
                      this.validatedAddress.Address.Address2 :
                      this.address2,
          cityTown: this.addressValid &&
                    this.useValidatedAddress ? 
                      this.validatedAddress.Address.City :
                      this.cityTown,
          state: this.addressValid &&
                    this.useValidatedAddress ? 
                      this.validatedAddress.Address.State :
                      this.state,
          postalZipCode: this.addressValid &&
                    this.useValidatedAddress ? 
                      this.validatedAddress.Address.Zip5 + (
                        this.validatedAddress.Address.Zip4 ? 
                          '-' + this.validatedAddress.Address.Zip4 :
                          ''
                      ) :
                      this.postalZipCode
        },

      }
      let intent;

      try {
      intent = await this
        .$axios
        .$post('/api/process/stripe-card-intent', purchase)
      } catch (err) {
        console.error("/pages/checkout::apiStripeCardIntent() error", err)
      }
      // console.log("apiStripeCardIntent() /api/process/stripe-card-intent returned", intent)
      return intent
    },
    async payWithCard(card) {
      let result
      if (!this.stripeCardIntent) {
        console.error( "this.stripeCardIntent object not set yet!" )
        return
      }
      this.calculatedProcessingPayment = true

      try {

        result = await this.$stripe.confirmCardPayment(
          this.stripeCardIntent.clientSecret,
          {
            payment_method: {
              card: card
            }
          }
        )
        this.calculatedProcessingPayment = false
        if (result.error) {
          console.error("Stripe API processing error", result.error.message)
        } else {

          console.info(
            "Stripe API processing complete",
            result,
            "see:",
            `https://dashboard.stripe.com/test/payments/${result.paymentIntent.id}`
          )
        }
      } catch (err) {
        console.error('/pages/checkout::payWithCard() error', err)
      }

      return result
    },
    async apiRegions() {
      let results

      try {
        const regions = await this
          .$axios
          .get(
              '/api/region',
              {
                  "params": {
                      "countryCode": this.country
                  }
              }
          )
        results = regions.data.regions
        console.log("apiRegions", results)
        this.calculatedRegions = results
      } catch (err) {
        console.error('/pages/checkout::apiRegions() error', err)
      }

      return results
    },
    async apiShippingMethods() {
      let results;

      try {
        // console.log("grabbing shipping from API")
        const _shippingMethods = await this
          .$axios
          .get('/api/shipping')

        
        results = _shippingMethods.data.default
        // console.log("got shipping API", results)
        this.calculatedShippingMethods = results
      } catch (err) {
        console.error('/pages/checkout::apiShippingMethods() error', err)
      }

      return results
    },
    async apiCheckAddress() {
        try {
          // console.log(
          //     "apiCheckAddress() called, country:", this.country,
          //     'address1:', this.address1,
          //     'region:', this.state,
          //     'city:', this.cityTown)
          clearTimeout(this._timerApiCheckAddress)

          this._timerApiCheckAddress = setTimeout(() => {
            // Attempt to auto check the address
            // Currently, USPS API only works in the USA.
            if (this.country == 'US' && this.address1 && this.state && this.cityTown) {
              // console.log("apiCheckAddress, country", this.country)
              let address = {
                address1: this.address1,
                city: this.cityTown,
                state: this.state
              }

              if (this.postalZipCode) {
                address['zip5'] = this.postalZipCode
              }

              if (this.address2) {
                address['address2'] = this.address2
              }

              this
                .$axios
                .$post(
                  '/api/shipping/address',
                  address
                ).then((result) => {
                  // console.log("addressCheck came back:", result)
                  this.addressValid = true
                  if (
                    result.AddressValidateResponse.Address.Address2 &&
                    !result.AddressValidateResponse.Address.Address1
                  ) {
                    result.AddressValidateResponse.Address.Address1 = result.AddressValidateResponse.Address.Address2;
                    delete result.AddressValidateResponse.Address.Address2;
                  }

                  // console.log("addressCheck is:", result);
                  this.validatedAddress = result.AddressValidateResponse
                }).catch((errors) => {
                  // console.log("addressCheck failed:", errors)
                  this.validatedAddress = null
                  this.addressValid = false
                })

                
            } else {
              // NOOP
              this.validatedAddress = null
              this.addressValid = false
              return
            }
          }, 1000)
        } catch (err) {
          console.error('/pages/checkout::apiCheckAddress() error', err)
        }
        
    },
    async apiCountries() {
      let result = {};

      try {
        const countries = await this
          .$axios
          .get('/api/country')
        result = countries.data
        this.calculatedCountries = result
      } catch (err) {
        console.error('/pages/checkout::apiCountries() error', err)
      }
      return result
    },
    scrollToTop() {
      // console.log("SCROLL TO TOP")
      if (process.browser) {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      }
    },
    checkout() {
      // console.log("checkout!")
      if (process.browser) {
        this.calculatedCheckoutStep = 2
        this.scrollToTop()
      }
      // this.$refs.checkoutRef.redirectToCheckout();
    },
    shipping() {
      // console.log("shipping!")
      if (process.browser) {
        this.calculatedCheckoutStep = 3
        this.scrollToTop()
      }
    },
    async payment() {
      // console.log("payment!")
      if (process.browser) {
        this.scrollToTop()

        let result = await this.payWithCard(this._card)

        this.orderDetails = result.paymentIntent
        console.log("payment() called this.payWithCard() and returned", result)
        this.orderComplete()
      }
    },

    orderComplete() {
      if (process.browser) {
        this.calculatedCheckoutStep = 4
        this.scrollToTop()
        

        let t = setTimeout(() => {
          clearTimeout(t)
          this.clearCart()
          this.$router.push('/checkout-success')
        }, 1000)
      }
    },
    clearCart() {
      this.items = []
      this.calculatedCheckoutStep = 1
      this.calculatedProcessingPayment = false
      this._card = null
      this._isStripeCardSetup = false
      this.$store.commit('clearCart')
      // console.log("clear cart")
    }
  }
}
</script>
<style lang="scss">
</style>