<template>
    <div>
        <div class="home d-flex sliding flex-wrap justify-center">
            <v-card
              max-width="800"
              dark
              flat
              outlined
              tile
              class="full-height d-flex align-center ma-2 pa-2 align-self-end fade-in-start fade-in noisy"
              color="noir_secondary">
                <v-card-title primary-title>
                  Checkout cancelled!
                </v-card-title>
                <v-card-actions class="justify-center align-center">
                  <v-btn large color="primary" :to="{path: '/'}">
                    <v-icon>shopping_cart</v-icon>&nbsp;Keep Shopping
                  </v-btn>
                </v-card-actions>
            </v-card>
        </div>
    </div>
</template>
<script lang="ts">
import Vue from 'vue';


export default Vue.extend({
    data() {
        return {
        }
    }
})
</script>
<style lang="scss">

</style>