<template>
    <div>
        <div class="home d-flex sliding flex-wrap justify-center">
            <v-card class="ma-2 pa-2 align-self-end expand-vertical-start expand-vertical animation-delay-1">
                <v-card-title primary-title class="d-flex justify-center align-center">
                  <div>Success! Thank you for your order!</div>
                </v-card-title>
                <v-card-text class="title d-flex justify-center align-center">
                  <div class="pa-2">You will be notified of shipment shortly!</div>
                </v-card-text>
                <v-card-actions class="d-flex justify-center align-center">
                  <v-btn color="primary" :to="{path: '/'}"><v-icon>shopping_cart</v-icon>&nbsp;Keep Shopping</v-btn>
                </v-card-actions>
            </v-card>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

export default Vue.extend({
    mounted() {
        // @TODO this.$store.commit('clearCart')
    },
    data() {
        return {
        }
    }
})
</script>
<style lang="scss">

</style>