<template>
  <v-container style="height: 100%">
    <v-row align="stretch" justify="center" style="height: 100%">
      <v-col></v-col>
      <v-col>
        <v-card
          
          flat
          outlined
          tile
          class="ma-2 pa-2 align-self-end fade-in-start fade-in noisy full-height d-flex align-center fill-height"
          color="noir_secondary"
          width="800">
          <div
            v-if="!sent"
            class="full-width">
            <v-card-title primary-title>
              How can we help?
            </v-card-title>
            
            <v-card-text class="justify-center align-center">
                <v-form
                    v-model="valid"
                    ref="formContact"
                    :lazy-validation="true">
                    <v-text-field v-model="name" ref="nameField" :rules="nameRules" label="Name" outlined required></v-text-field>
                    <v-text-field v-model="email" ref="emailField" :rules="emailRules" type="email" label="E-Mail" outlined required></v-text-field>
                    <v-textarea v-model="message" ref="messageField" label="Message" outlined required></v-textarea>
                    <div class="overline text-right">{{ message.length }} / 1000 characters max.</div>
                </v-form>
            </v-card-text>
            <v-card-actions class="justify-center align-center">
              <v-btn large color="primary" @click="send">
                <v-icon>send</v-icon>&nbsp;Send
              </v-btn>
            </v-card-actions>
          </div>
          <div v-if="sent" class="full-width">
            <v-card-text align="center" justify="center">
              <v-img width="150" src="/logo_ok_large.png"></v-img>
            </v-card-text>
            <v-card-text align="center" class="display-1">Message sent!</v-card-text>
          </div>
        </v-card>
        
      </v-col>
      <v-col></v-col>
    </v-row>
  </v-container>
</template>
<script>
import axios from 'axios';
// import VuetifyToast from 'vuetify-toast-snackbar';

export default {
  components: {
    // VuetifyToast
  },
  props: {
  },
  computed: {
    nameValue: {
        get() {
            return this.name
        },
        set(newValue) {
          this.name = newValue;
          this.$emit('update:name', newValue)
        }
    },
    emailValue: {
        get() {
            return this.email
        },
        set(newValue) {
          this.email = newValue;
          this.$emit('update:email', newValue)
        }
    },
    messageValue: {
      get() {
        return this.message
      },
      set(newValue) {
        this.message = newValue;
        this.$emit('update:message', newValue)
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    // console.info('beforeRouteEnter', to.params, to.params.action)
    next((instance) => {
      // console.info("instance", vm.$store.state)
      instance.reset();
      switch (to.params.action) {
        case 'add':
          // console.info("ADD", to.params)
          break
        default:
          break
      }
    })
  },
  data: () => ({
    sent: false,
    valid: true,
    name: '',
    email: '',
    message: '',
    nameRules: [
      (v) => !!v || 'Name is required',
      (v) => (v && v.length >= 1) || 'Name must be one (1) letter or longer'
    ],
    emailRules: [
      (v) => !!v || 'E-Mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-Mail must be valid'
    ],
    loading: false,
  }),
  methods: {
    send() {
      if (this.$refs.formContact.validate()) {
        const url = '/api/send-contact';
        const data = {
          "name": this.name,
          "email": this.email,
          "message": this.message,
        };
        const headers = {
          // @TODO use nOnce token 
          'Content-Type': 'application/json'
        };
        // console.log("Sending data:");
        // console.table(data);
        
        axios
          .post(url, data, headers)
          .then((resp) => {
            // console.log("OK", resp);
            this.sent = true;
          })
          .catch((error) => {
            console.log("API Error", error, error.response);
            if (error.response && error.response.data && error.response.data.errors.length > 0) {
              const errors = error.response.data.errors;
              errors.map((e) => {
                
                // console.log(e.param + " isValid?", this.$refs[e.param + 'Field']);
                this.$refs[e.param + 'Field'].errorBucket.push(e.msg);
                // this.$refs[e.param].valid = false;
                this.$toast.error(e.msg, {timeout: 5000});
              });
            }
          });
      }
    },
    validate() {
      let isValid = this.$refs.formContact.validate()
      if (isValid) {
          // this.snackbar = true
      }
      return isValid
    },
    reset() {
        this.$refs.formContact.reset()
    },
    resetValidation() {
        this.$refs.formContact.resetValidation()
    }
  },
  mounted() {
    this.$refs.nameField.focus();
  }
}
</script>
<style lang="scss">

</style>