<template>
  <div>
    <div class="home d-flex sliding flex-wrap justify-center">
      <ProductCard
        v-for="(product, index) in products"
        :class="'pa-2 slide-out-start slide-in animation-delay-' + index"
        v-bind:key="product.id"
        :sku="product.sku"
        :productFeatures="product.productFeatures"
        :price="product.price"
        :pictures="product.pictures"
        :description="product.description"
        :inStock="product.inStock"
        :isRetired="product.isRetired"
        :isService="product.isService"
        :crowdfundingUrl="product.crowdfundingUrl"
        :examplesUrl="product.examplesUrl"
        :brochureUrl="product.brochureUrl">
      </ProductCard>
    </div>
    <div class="home d-flex sliding flex-wrap justify-center">
      <ProductCard
        v-for="(product, index) in services"
        :class="'pa-2 expand-vertical-start expand-vertical animation-delay-' + (index + products.length)"
        v-bind:key="product.id"
        :sku="product.sku"
        :productFeatures="product.productFeatures"
        :price="product.price"
        :pictures="product.pictures"
        :description="product.description"
        :inStock="product.inStock"
        :isRetired="product.isRetired"
        :isService="product.isService"
        :crowdfundingUrl="product.crowdfundingUrl"
        :examplesUrl="product.examplesUrl"
        :brochureUrl="product.brochureUrl">
      </ProductCard>
      
    </div>
  </div>
</template>

<script lang="ts">

import { Component, Vue } from 'nuxt-property-decorator';
import ProductCard from '@/components/ProductCard.vue';
import productData from '@/api/mock/product'
import serviceData from '@/api/mock/service'

@Component({
  components: {
    ProductCard
  },
})
export default class Home extends Vue {

    public data() {
        return {
          featured_products: [
          ],
          products: productData,
          services: serviceData
        }
    }
}
</script>
<style lang="scss">
  .home {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
</style>