<template>
  
    <div class="full-height d-flex sliding flex-wrap justify-center">
      <v-card style="margin: 1rem;" class="text-center" align="stretch" justify="center" width="400">
        <v-form ref="formLogin" :disabled="isProcessing" @submit="handleForm($event)">
          <v-card-text>
              <v-checkbox
                flat
                label="Register New Account?"
                v-model="isRegistration"></v-checkbox>
              <v-text-field
                v-model="userName"
                :rules="[rules.required]"
                name="username"
                label="User"
                id="username"
                :disabled="isProcessing"
              ></v-text-field>
              <v-text-field
                v-if="isRegistration"
                v-model="eMail"
                :rules="emailRules"
                name="email"
                label="E-Mail"
                id="email"
              ></v-text-field>
              <v-text-field
                v-if="!isRegistration"
                v-model="passWord"
                :append-icon="show ? 'visibility' : 'visibility_off'"
                :rules="[rules.required, rules.min]"
                :type="show ? 'text' : 'password'"
                name="password"
                label="Password"
                id="password"
                @click:append="show = !show"
                :disabled="isProcessing"
              ></v-text-field>

          </v-card-text>
          <v-card-actions class="justify-center align-center">
            <v-btn
              type="submit"
              large
              color="secondary"
              :disabled="isProcessing"
            >
              <v-progress-circular
                v-if="isProcessing"
                indeterminate
                :size="20"
                color="secondary"
                class="ma-1"
              ></v-progress-circular>
              {{isRegistration ? "Register" : "Log In"}}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </div>

</template>

<script lang="ts">

// import axios from 'axios'
import { Component, Vue} from 'nuxt-property-decorator';

export type VForm = Vue & {validate: () => boolean, resetValidation: () => void}

@Component({
  components: {
  },
  middleware: 'guest'
})
export default class Login extends Vue {

    public username = ''
    public email = ''
    public password = ''
    public rules = {
      required: (value:any) => !!value || 'Required.',
      min: (v:any) => v.length >= 8 || 'Min 8 characters.',
    }
    public emailRules = [
      (v:any) => !!v || 'E-Mail is required',
      (v:any) => /.+@.+\..+/.test(v) || 'E-Mail must be valid'
    ]
    public remember = false
    public show = false
    public processing = false
    public registration = false

    get userName(): string {
      return this.username
    }
    set userName(value:string) {
      this.username = value
      this.$emit('update:username', value)
    }
    get eMail(): string {
      return this.email
    }
    set eMail(value:string) {
      this.email = value
      this.$emit('update:email', value)
    }
    get passWord(): string {
      return this.password
    }
    set passWord(value:string) {
      this.password = value
      this.$emit('update:password', value)
    }

    get isProcessing(): boolean {
      return this.processing
    }

    set isProcessing(value:boolean) {
      this.processing = value
      this.$emit('update:processing', value)
    }

    get isRegistration(): boolean {
      return this.registration
    }

    set isRegistration(value:boolean) {
      this.registration = value
      this.$emit('update:registration', value)
    }

    get appForm(): VForm {
      return this.$refs.formLogin as VForm
    }


    public async handleForm($event:any) {
      if (process.browser) {
        $event.preventDefault()
        if (this.appForm.validate()) {
          this.isProcessing = true
          if (this.isRegistration === true) {
            await this.register(this.userName, this.eMail)
          } else {
            // console.log("Attempting log in")
            let result = await this.login(this.userName, this.passWord)
            // console.log("login result", result)
          }
          this.isProcessing = false
        }
      }
      return false
    }

    public async register(strUsername: string, strEmail: string) {
      return await this
        .$axios
        .post('/api/auth/register', {username: strUsername, email: strEmail});
    }

    public async login(strUsername: string, strPassword: string) {
      let result;
      if (process.browser) {
        result = await this
          .$auth
          .loginWith(
            'local', 
            {
              data: {
                username: strUsername,
                password: strPassword
              }
            }
          )
        this.userName = ""
        this.passWord = ""
        this.eMail = ""
        this.appForm.resetValidation()
        this.isProcessing = false
      }
      Promise.resolve(result)
      return result
    }

    public data() {
        return {
          
        }
    }
}
</script>
<style lang="scss">

  .v-input__slot { border: none !important; }
</style>