<template>
    <div class="full-height d-flex sliding flex-wrap justify-center">
        <v-card style="margin: 1rem;" class="text-center" align="stretch" justify="center" width="400">
            
            <v-card-text class="headline">
                Terms of Sale
            </v-card-text>
            <v-card-text>
              Our items are inspected and tested by us. If you have an issue with one of our products, please contact us.
            </v-card-text>
            <v-card-text>
              To request an exchange, please contact us.
            </v-card-text>
            <v-card-actions class="justify-space-around align-center">
              <v-btn fab class="primary" :to="{path: '/contact'}"><v-icon>mail</v-icon></v-btn>
            </v-card-actions>
            <v-card-text>
                Please note, by purchasing our product(s)/service(s) you agree to the following:
            </v-card-text>
            <v-card-text>
              No Warranty. {{businessName}} GRANTS NO WARRANTIES FOR THE PRODUCTS, EXPRESS OR IMPLIED, EITHER IN FACT OR BY OPERATION OF LAW, BY STATUTE OR OTHERWISE, AND {{businessName}} SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTY OF QUALITY, WARRANTY OF MERCHANTABILITY, WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE OR WARRANTY OF NON-INFRINGEMENT.
            </v-card-text>
            <v-card-text>
              Customer is responsible for any and all VAT/Import fees.
            </v-card-text>
            <v-card-actions style="margin-top: 1rem;" class="justify-space-around align-center">
              <v-btn class="primary" :to="{path: '/contact'}">
                  <v-icon style="margin-right: 0.5rem">mail</v-icon>Get in touch
              </v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>
<script lang="ts">
  import { Component, Vue} from 'nuxt-property-decorator';

  @Component({
    components: {
    },
    middleware: 'guest'
  })
  export default class Terms extends Vue {
    public businessName:string
    
    data() {
      return {
        businessName: process.env.BUSINESS_NAME
      }
    }
  }
</script>