
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.5s;
    transition-property: width, opacity, transform, position;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
    position: absolute;
    opacity: 0;
    transform: translateX(8em);
}

.slide-left-leave-active,
.slide-right-enter {
    position: absolute;
    opacity: 0;
    transform: translate(-4em, 0);
}



.slide-out-start {
    transform: translateY(-200%);
}
.slide-in {
    animation: slide-in 0.5s forwards;
}
.slide-out {
    animation: slide-out 0.5s forwards;
}

.slide-out-left-start {
    transform: translateX(-100%)
}

.slide-in-left {
    animation: slide-in-left 0.5s forwards;
}

.fade-in-start .v-image__image {
    opacity: 0;
}

.fade-in .v-image__image {
    animation: fade-in 1s forwards;
}

.expand-vertical-start {
    transform: scaleY(0);
}
.expand-vertical {
    animation: expand-vertical 0.5s forwards;
}

@for $delay_index from 1 through 100 {
    $delay: $delay_index * 0.05;
    
    .animation-delay-#{$delay_index} {
        animation-delay: #{$delay}s;
    }

}

@keyframes slide-in {
    100% { transform: translateY(0%); }
}

@keyframes slide-out {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}

@keyframes slide-in-left {
    100% { transform: translateX(0%); }
}

@keyframes slide-out-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@keyframes fade-in {
    100% { opacity: 1; }
}

@keyframes expand-vertical {
    100% { transform: scaleY(1); }
}
/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}