@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Varela+Round&display=swap');

.flex-wrap { flex-wrap: wrap; }
.full-width { width: 100%; }
.full-height { height: 100%; }

.company-name::before {
    opacity: 1;
    background-color: rgba(0,0,0,0) !important;
}

.cart-button {
     font-family: 'Fugaz One', cursive;
}
.fugaz-one {
    font-family: 'Fugaz One', cursive;
}


html, body {height: 100%}

.canvas-area::before {height: 100%;}
.canvas-area {
    background-color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    margin-top: 5rem;

    .webgl-content {
      width: 100%;
      height: 100%;
      pointer-events: none;

      #unity-container {
        pointer-events: none;
        width: 100%;
        height: 100% !important;

        canvas {
            width: 100%;
            height: 100%;
        }
      }
    }
  }
