<template>
  <v-card class="footer pa-2 h-card noisy" dark flat tile color="noir_secondary">
    <v-card-actions class="d-flex-inline justify-center align-center">
      <v-btn small outlined light color="grey" :to="{path: '/terms'}">Terms</v-btn>
      <v-btn small outlined light color="grey" :to="{path: '/about'}">About</v-btn>
      <v-btn small outlined light color="grey" :to="{path: '/contact'}">Contact</v-btn>
    </v-card-actions>
    <v-card-text class="pa-2 sub-title">
      &copy; 2019 <span class="p-name">{{businessName}}</span> - All rights reserved.
    </v-card-text>
    <v-card-text class="pa-2 sub-title">
      <span class="p-street-address">{{businessAddress}}</span>
    </v-card-text>
    
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    name: 'Footer',
    data() {
        return {
          businessName: process.env.BUSINESS_NAME,
          businessAddress: process.env.BUSINESS_ADDRESS
        }
    }
})
</script>
<style lang="scss">
  .footer {
    min-height: 100px;
    text-align: center;
    box-shadow: #000000 0 -1px 5px;
  }
  .coin-container {
    // display: flex;
  }
  .title {
    color: #707070;
  }

  .sub-title {
    color: #606060;
  }

  .float-left { float: left; }

</style>