<template>
  <v-card
    class="ma-4 pa-2"
    outlined
    tile
    width="400">
    <v-card-title primary-title>
      {{verb}} ({{system_count}})
      <v-progress-circular
        v-if="isLoading"
        class="ml-4"
        indeterminate
        size="20"></v-progress-circular>
    </v-card-title>
    <v-divider class="mx-4"></v-divider>

    <v-card-text v-if="system_count === 0">
      <v-icon color="green" class="mr-2">check_circle</v-icon>None found.
    </v-card-text>
    <v-card-text class="pa-1" v-if="system_orders" v-for="order in system_orders" :key="order._id">
  
        <v-btn
          small
          outlined
          text
          class="pa-4 ma-1"
          :to="`/dashboard/order/${order._id}`">
          <v-icon color="yellow" class="mr-1">notification_important</v-icon>
          <div class="order-timestamp">{{$moment(order.order_date).calendar()}} - {{order | toCurrencyFloat}}</div>
          <div class="caption">{{order.currency | upperCase}}</div>
          <v-icon class="ml-1">navigate_next</v-icon>
        </v-btn>

    </v-card-text>

  </v-card>
</template>
<script lang="ts">
    import { Component, Vue, Prop} from 'nuxt-property-decorator'
    
    // import VCard from 'vuetify/lib'
    // import VCardText from 'vuetify/lib'
    // import VCardTitle from 'vuetify/lib'
    // import VBtn from 'vuetify/lib'
    // import VIcon from 'vuetify/lib'
    // import VProgressCircular from 'vuetify/lib'
    // import VDivider from 'vuetify/lib'
    import { mapGetters } from 'vuex'
    // export type VForm = Vue & {validate: () => boolean}

    @Component({
      name: 'OrderStatusCard',
      components: {
        // VCard
        // VCardText,
        // VCardTitle,
        // VBtn,
        // VIcon,
        // VProgressCircular,
        // VDivider
      },
      middleware: [
        'auth'
      ],
      computed: {
        ...mapGetters(['isAuthenticated', 'loggedInUser']),
      },
      filters: {
        upperCase: (value:string) => {
          return value.toUpperCase()
        },
        toCurrencyFloat: (order:any) => {
          let currencySymbol;
          switch (order.currency) {
            case "usd":
              // code...
            default:
              currencySymbol = '$'
              // code...
              break;
          }
          return currencySymbol + ((+order.total_cost / 100).toFixed(2))
        }
      }
    })
    export default class OrderStatusCard extends Vue {
      public $eventBus:any // Loaded by plugin
      @Prop({default: 'Unshipped'})
      public verb: string;
      @Prop({default: 'unshipped'})
      public status: string; // Can be: unshipped, rma, refund
      
      private is_loading: boolean
      private system_orders: any
      private system_count: number = 0

      get isLoading(): boolean {
        return this.is_loading
      }

      set isLoading(value: boolean) {
        this.is_loading = value
        this.$emit('update:is_loading', value)
      }

      get systemOrders(): any {
        return this.system_orders
      }

      set systemOrders(value: any) {
        this.system_orders = value
        // console.log("system_orders is now", this.system_orders)
        this.$emit("update:system_orders", value)
      }

      get systemCount(): number {
        return this.system_count
      }

      set systemCount(value: number) {
        this.system_count = value
        this.$emit("update:system_count", value)
      }

      async loadOrders(bustCache = false) {
        this.isLoading = true
        let payload = await this
          .$axios
          .get(
            '/api/admin/order', 
            {
              params: {status: this.status}
            }
          )
        // console.log("got", payload.data.data)
        this.systemOrders = payload.data.data
        this.systemCount = payload.data.count
        this.isLoading = false
        return payload
      }

      async mounted() {
        // console.log("OrderStatusCard mounted()", this.verb)
        await this.loadOrders(true)
        this.$eventBus.$on('update:order', () => {this.loadOrders(true)})
      }

      data() {
        return {
          system_orders: [],
          system_count: 0,
        }
      }
    }
</script>