<template>
    <v-card
        flat
        outlined
        tile
        class="ma-2 pa-2 align-self-end fade-in-start fade-in noisy"
        color="noir_secondary"
        :max-width="maxWidth"
        :max-height="maxHeight">
        <v-img v-for="(pic, index) in pictures"
            v-bind:key="pic.file_name"
            v-if="pictures.length > 0 && pictureIndex == index"
            class="white--text"
            :contain="enforceContainPicture"
            :width="width"
            :height="height"
            :src="pic.file_name"
            >
            <v-btn v-if="pictures.length > 1 && showImageControls" @click="nextPic()">
                <v-icon>collections</v-icon><v-icon>play_arrow</v-icon>&nbsp;</v-btn>
            <v-btn disabled v-else-if="showImageControls"><v-icon>insert_photo</v-icon></v-btn>
            
            <v-card-title v-if="showTitle" class="align-end fill-height fugaz-one pic-title" style="padding-bottom: 2.5rem;">{{pic.title}}</v-card-title>
            
        </v-img>
        <!-- <v-img
            v-if="crowdfundingUrl"
            width="100"
            class="ribbon"
            src="/ribbon-ff4400-crowd_supply.png"
        ></v-img> -->

        <v-card-text v-if="description" class="product-description text-center">
            <div class="text--secondary" :class="!pictures ? 'title fugaz-one text-center' : ''">
                {{description}}
            </div>
        </v-card-text>
        
        <v-card-actions v-if="showActionButtons">
            <v-container fluid>
                <v-layout align-center justify-center row fill-height>
                    <v-btn
                        @click="addToCart()"
                        large
                        color="primary"
                        v-if="inStock > 0">
                        <v-icon>add_shopping_cart</v-icon>&nbsp;<span>BUY <span class="price">${{price}}</span></span>
                    </v-btn>
                    <v-btn
                        @click="addToCart()"
                        large
                        color="primary"
                        v-else-if="isService">
                        <v-icon>add_circle</v-icon>&nbsp;<span class="price">${{price}}</span>
                    </v-btn>
                    <!-- <v-btn
                        width="200"
                        large
                        dark
                        color="noir_primary"
                        class="crowdfund-button"
                        v-else-if="crowdfundingUrl"
                        target="_blank"
                        :href="crowdfundingUrl">
                        <v-icon class="float-left">launch</v-icon>
                        <v-img :contain="true" width="120" :src="require('@/assets/Crowd_Supply_logo-small.png')"></v-img>
                    </v-btn> -->
                    <v-btn
                         large
                         v-else-if="isRetired"
                         light
                         color="noir_highlight">
                         <v-icon>cancel</v-icon>&nbsp;<span>Retired</span>
                    </v-btn>
                    <v-btn
                        v-else
                        large
                        color="noir_primary">
                        <v-icon>email</v-icon>&nbsp;<span>Notify Me</span>
                    </v-btn>
                </v-layout>
            </v-container>
        </v-card-actions>
        <v-card-actions v-if="(examplesUrl || cadDesignUrl || brochureUrl) && showActionButtons">
            <v-layout align-center justify-center row fill-height>
                <v-btn
                    v-if="examplesUrl"
                    :href="examplesUrl"
                    small
                    color="secondary">
                    <v-icon>code</v-icon>&nbsp;<span>Examples</span>
                </v-btn>
                <v-btn
                    v-if="cadDesignUrl"
                    :href="cadDesignUrl"
                    small
                    text
                    outlined
                    color="secondary">
                    <v-icon>developer_board</v-icon>&nbsp;<span>CAD/Design</span>
                </v-btn>
                <v-btn
                    v-if="brochureUrl"
                    :href="brochureUrl"
                    small
                    text
                    outlined
                    color="secondary">
                    <v-icon>info</v-icon>&nbsp;<span>Brochure</span>
                </v-btn>
            </v-layout>
        </v-card-actions>
        <v-card-text v-if="productFeatures.length > 0" class="mt-3 mb-3 align-self-end">
            <v-card-text class="features d-flex mb-6 justify-end">
                <!-- <span class="feature-image ml-auto"></span> -->
                <v-img v-for="feature in productFeatures" 
                    :aspect-ratio="1"
                    class="pa-1 feature-image"
                    v-bind:key="feature.id"
                    :src="feature.url">
                </v-img>
                
            </v-card-text>
        </v-card-text>
    </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { Route } from 'vue-router'

@Component
export default class ProductCard extends Vue {

    @Prop({default: 10.00})
    public price: number

    @Prop({default: ''})
    public sku: string

    @Prop({default: () => {[]} })
    public pictures: any

    @Prop({default: ''})
    public name: string

    @Prop({default: ''})
    public description: string

    @Prop({default: ''})
    public examplesUrl: string

    @Prop({default: ''})
    public cadDesignUrl: string

    @Prop({default: ''})
    public brochureUrl: string

    @Prop({default: () => [] })
    public productFeatures: any

    @Prop({default: '400px'})
    public maxWidth: string

    @Prop({default: ''})
    public maxHeight: string

    @Prop({default: '270px'})
    public width: string

    @Prop({default: '270px'})
    public height: string

    @Prop({default: 0})
    public inStock: number

    @Prop({default: ''})
    public crowdfundingUrl: string

    @Prop({default: false})
    public isRetired: boolean

    @Prop({default: false})
    public isService: boolean

    @Prop({default: true})
    public showActionButtons: boolean

    @Prop({default: true})
    public showImageControls: boolean

    @Prop({default: false})
    public enforceContainPicture: boolean

    @Prop({default: true})
    public showTitle: boolean

    @Prop({default: 0})
    private pictureIndex: number

    public nextPic() {
        ++this.pictureIndex;
        if (this.pictureIndex > this.pictures.length - 1) {
            this.pictureIndex = 0
        }

        return this.pictureIndex
    }

    public addToCart() {
        const route = {
            name: 'checkout',
            params: {
                action: 'add',
                data: this.sku,
                quantity: '1'
            }
        }
        this.$router.push(route)
    }

    public data() {
        return {
            quantity: 1
        }
    }
}
</script>
<style lang="scss">
    .pic-title {
        font-size: 1rem;
    }
    .product-description {
        min-height: 5rem;
    }
    .features {
        // position: absolute;
        
        height: 44px;
        // top: 0;
        display: flex;
        justify-content: center;

        .feature-image {
            height: 44px;
            padding: 0;
        }
        .v-image__image--cover {
            height: 44px;
            background-size: 44px;
        }
    }

    .crowdfund-button i.v-icon {
        margin-right: 1rem;
    }

    .ribbon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .text-center { text-align: center }

    .v-input__prepend-outer,
    .v-input__append-outer,
    .v-input__slot {
        border: 1px solid rgba(0,0,0, .4);
    }
</style>