<template>
    <div class="d-flex sliding flex-wrap justify-start">
        <v-snackbar
          :timeout="2000"
          top
          :color="snackbarColor"
          v-model="snackbarOpen"
        >
          {{snackbarMessage}}
          <v-btn text color="primary" @click.native="snackbarOpen = false">Close</v-btn>
        </v-snackbar>
        <div class="d-flex flex-wrap flex-column justify-stretch align-stretch full-width mr-6" style="margin-left: 5rem">
          <v-card  v-if="loading">
            <v-card-text v-if="loading">
              <v-progress-circular indeterminate color="secondary"></v-progress-circular>
            </v-card-text>
          </v-card>
          <v-card
            v-if="!loading && orderPage"
            :disabled="isSaving || !!order_page.full_refund_id">
            <v-card-title primary-title>
              Order for {{order_page.receipt_email}}
              <v-btn :disabled="isSaving || !!order_page.full_refund_id" fab absolute right color="primary" class="ma-4" @click="saveOrder($event)">
                <v-icon v-if="!isSaving">save</v-icon>
                <v-progress-circular indeterminate :size="20" color="white" v-else></v-progress-circular>
              </v-btn>
            </v-card-title>
            <v-card-subtitle>
              {{order_page._id}}
            </v-card-subtitle>
            <v-divider class="mx-4"></v-divider>
            <v-container class="full-width">
              
              <v-card-text v-for="orderProduct in order_page.products" :key="orderProduct._id">
                <v-row>
                  <v-col cols="2" class="text-no-wrap">
                    {{orderProduct.quantity}}
                  </v-col>
                  <v-col>
                    <div>{{orderProduct.name}}</div>
                    <div class="subheading">{{orderProduct.sku}}</div>
                  </v-col>
                  <v-col cols="2" class="text-no-wrap">
                    {{ orderProduct.price | toCurrency}}
                  </v-col>
                  <v-col cols="1">
                    <v-btn
                      small
                      outlined
                      :disabled="order_page.ship_method == 'free'"
                      @click="requestRMA(orderProduct)"
                    >
                      <v-icon>swap_horiz</v-icon>
                      New RMA
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>

              <v-card-text v-for="orderService in order_page.services" :key="orderService._id">
                <v-row>
                  <v-col cols="2" class="text-no-wrap">
                    {{orderService.quantity}}
                  </v-col>
                  <v-col>
                    <div>{{orderService.description}}</div>
                    <div class="subheading">{{orderService.sku}}</div>
                  </v-col>
                  <v-col cols="2" class="text-no-wrap">
                    {{ orderService.price | toCurrency}}
                  </v-col>
                  
                </v-row>
              </v-card-text>
            </v-container>
          </v-card>
          
          <v-container class="d-flex flex-row flex-wrap align-start ma-0 mt-4 pa-0">
            <v-card
              :disabled="isSaving || !!order_page.full_refund_id"
              class="full-height"
              v-if="!loading && orderPage">
              
              <v-card-title primary-title>
                Billing
              </v-card-title>
              <v-card-subtitle>
                <v-btn
                  :href="getStripeLink()"
                  outlined
                  color="secondary"
                  small>
                  View at 
                  <v-img width="37.5" height="17.85" src="/Stripe_logo_white.svg" alt="Stripe online payments"></v-img>
                </v-btn>
              </v-card-subtitle>
              <v-divider class="mx-4"></v-divider>
              <v-card-text>
                <div class="title">{{order_page.billing.fullName}}</div>
                <div>{{order_page.billing.address1}}</div>
                <div v-if="order_page.billing.address2">{{order_page.billing.address2}}</div>
                <div>{{order_page.billing.cityTown}}</div>
                <div>{{order_page.billing.state.name}} {{order_page.billing.postalZipCode}}</div>
                <div>{{order_page.billing.country.country}}</div>
              </v-card-text>
            </v-card>

            <v-card
              :disabled="isSaving || !!order_page.full_refund_id"
              class="full-height"
              v-if="!loading && orderPage">
              
              <v-card-title primary-title>
                Shipping
              </v-card-title>
              <v-card-subtitle>
                <v-btn
                  small
                  outlined
                  :disabled="order_page.ship_method == 'free'"
                >
                  {{order_page.ship_method.description}}
                </v-btn>
              </v-card-subtitle>
              <v-divider class="mx-4"></v-divider>
              <v-card-text>
                <div class="title">{{order_page.shipping.fullName}}</div>
                <div>{{order_page.shipping.address1}}</div>
                <div v-if="order_page.shipping.address2">{{order_page.shipping.address2}}</div>
                <div>{{order_page.shipping.cityTown}}</div>
                <div>{{order_page.shipping.state.name}} {{order_page.shipping.postalZipCode}}</div>
                <div>{{order_page.shipping.country.country}}</div>
                <div>
                  <v-text-field v-model="order_page.ship_tracking" label="Shipment Tracking"></v-text-field>
                  <v-menu
                    v-model="ship_tracking_menu"
                    :close-on-content-click="true"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{on, attrs}">
                      <v-text-field
                        v-on="on"
                        v-model="ship_tracking_date_formatted"
                        
                        persistent-hint
                        prepend-icon="event"
                        v-bind="attrs"
                        label="Ship. Date"></v-text-field>
                    </template>
                    
                    <v-date-picker
                      @change="ship_tracking_date_formatted = formatToInputDate(order_page.ship_date)"
                      v-model="order_page.ship_date"
                      no-title
                      @input="ship_tracking_menu == false"
                    >
                      
                    </v-date-picker>
                  </v-menu>
                </div>
              </v-card-text>
            </v-card>

            <v-card
              :disabled="isSaving || !!order_page.full_refund_id"
              class="full-height"
              v-if="!loading && orderPage">
              
              <v-card-title primary-title>
                Refund Request
              </v-card-title>
              <v-card-subtitle v-if="!order_page.full_refund_id">
                <v-btn
                  small
                  outlined
                  :disabled="isRefundLoading"
                  @click="refundOrder()"
                >
                  <v-icon>money_off</v-icon>
                  Full Refund
                </v-btn>
              </v-card-subtitle>
              <v-card-subtitle v-else>
                <v-icon>money_off</v-icon>
                  Full Refund Complete
              </v-card-subtitle>
              <v-divider class="mx-4"></v-divider>
              <v-card-text v-if="isRefundLoading" class="d-flex justify-center align-center">
                <v-progress-circular :size="70" indeterminate color="primary"></v-progress-circular>
              </v-card-text>
              <v-card-text
                v-if="!isRefundLoading && order_page.refund_request.length"
                v-for="refund in order_page.refund_request"
                :key="refund.refund_date"
              >
                <div>Requested {{$moment(refund.refund_date).calendar()}}</div>

                <v-input type="text" v-model="refund.refund_amount"></v-input>
                <v-textarea v-model="refund.reason"></v-textarea>

              </v-card-text>
              <v-container v-else-if="!isRefundLoading">
                <v-card-text>
                  <v-icon color="green" class="mr-2">check_circle</v-icon>None requested.
                </v-card-text>
              </v-container>
            </v-card>
          </v-container>
          
          <v-card
            :disabled="isSaving || !!order_page.full_refund_id"
            class="mt-4"
            v-if="!loading && orderPage && orderPage.rma_request.length"
          >
            <v-card-title primary-title>
              RMA Requests
            </v-card-title>
            <v-divider class="mx-4"></v-divider>
            <v-container class="full-width">
              
              
              <v-card-text v-if="isRMARequestLoading" class="d-flex justify-center align-center">
                <v-progress-circular :size="70" indeterminate color="primary"></v-progress-circular>
              </v-card-text>
              <v-card-text
                v-if="!isRMARequestLoading && orderPage.rma_request.length"
                v-for="rma in orderPage.rma_request"
                :key="rma._id"
              >
                <div>Requested {{$moment(rma.rma_date).calendar()}}</div>
                <v-container>
                  <v-row>
                    <v-col>
                      <div>{{rma.rma_product.name}}</div>
                      <div>{{rma.rma_product.sku}}</div>
                    </v-col>
                    <v-col>${{rma.rma_product.price}}</v-col>
                  </v-row>
                </v-container>
                <v-form>
                  <v-container>
                    <v-row>
                      <v-col>
                        <v-text-field v-model="rma.rma_tracking" label="RMA Tracking"></v-text-field>
                        <v-menu
                          v-model="rma_tracking_sent_date_menus[rma._id]"
                          :close-on-content-click="true"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{on, attrs}">
                            <v-text-field
                              v-on="on"
                              v-model="rma_tracking_sent_dates[rma._id]"
                              
                              persistent-hint
                              prepend-icon="event"
                              v-bind="attrs"
                              label="RMA Label Sent"></v-text-field>
                          </template>
                          
                          <v-date-picker
                            @change="rma_tracking_sent_dates[rma._id] = formatToInputDate(rma.rma_tracking_sent_date)"
                            v-model="rma.rma_tracking_sent_date"
                            no-title
                            @input="rma_tracking_sent_date_menus[rma._id] == false"
                          >
                            
                          </v-date-picker>
                        </v-menu>
                        <!-- <v-text-field
                          type="date"
                          v-model="rma.rma_tracking_sent_date"
                          label="RMA Label Sent"></v-text-field> -->
                      </v-col>
                      <v-col>
                        <v-text-field v-model="rma.rma_tracking_to_customer" label="RMA Replacement Tracking"></v-text-field>
                        <!-- <v-text-field
                          type="date"
                          v-model="rma.rma_tracking_to_customer_date"
                          label="RMA Replacement Sent"></v-text-field> -->

                        <v-menu
                          v-model="rma_tracking_to_customer_date_menus[rma._id]"
                          :close-on-content-click="true"
                          transition="scale-transition"
                          offset-y
                          max-width="290px"
                          min-width="290px"
                        >
                          <template v-slot:activator="{on, attrs}">
                            <v-text-field
                              v-on="on"
                              v-model="rma_tracking_to_customer_dates[rma._id]"
                              
                              persistent-hint
                              prepend-icon="event"
                              v-bind="attrs"
                              label="RMA Label Sent"></v-text-field>
                          </template>
                          
                          <v-date-picker
                            @change="rma_tracking_to_customer_dates[rma._id] = formatToInputDate(rma.rma_tracking_to_customer_date)"
                            v-model="rma.rma_tracking_to_customer_date"
                            no-title
                            @input="rma_tracking_to_customer_date_menus[rma._id] == false"
                          >
                            
                          </v-date-picker>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-container>
                  
                  <v-btn small color="warning" class="ma-4" @click="removeRMA(rma._id)">
                    <v-icon>delete_forever</v-icon>Remove
                  </v-btn>
                  <v-btn small color="primary" @click="updateRMA(rma)">Update</v-btn>
                </v-form>
              </v-card-text>
              <v-container v-else-if="!isRMARequestLoading">
                <v-card-text>
                  <v-icon color="green" class="mr-2">check_circle</v-icon>None requested.
                </v-card-text>
              </v-container>
            </v-container>
          </v-card>

        </div>
    </div>
</template>
<script lang="ts">
    import { Component, Vue} from 'nuxt-property-decorator';
    import { mapGetters } from 'vuex'
    export type VForm = Vue & {validate: () => boolean}

    @Component({
      layout: 'dashboard',
      middleware: 'auth',
      components: {
        // UnshippedCard
        // OrderStatusCard
      },
      computed: {
        ...mapGetters(['isAuthenticated', 'loggedInUser']),
      },
      filters: {
        upperCase: (value:string) => {
          return value.toUpperCase()
        },
        toCurrency: (value:number) => {
          return "$ " + ((+value).toFixed(2))
        }
      }
    })
    export default class DashboardOrder extends Vue {
      public $eventBus: any // set by plugin
      public order_page: any
      public loading: boolean
      public loading_rma_request: boolean
      public loading_refund_request: boolean
      public saving: boolean
      public snackbar_message: string
      public snackbar_open: boolean
      public snackbar_color: string
      public rma_tracking_sent_dates: any = {}
      public rma_tracking_sent_date_menus: any = {}
      public rma_tracking_to_customer_dates: any = {}
      public rma_tracking_to_customer_date_menus: any = {}
      public ship_tracking_menu: boolean
      public ship_tracking_date_formatted: string

      get orderPage():any {
        return this.order_page
      }
      set orderPage(value:any) {
        this.order_page = value
        this.$emit("update:order_page", value)
      }

      get isLoading(): boolean {
        return this.loading
      }

      set isLoading(value: boolean) {
        this.loading = value
        this.$emit("update:isLoading", value)
      }

      get isRMARequestLoading(): boolean {
        return this.loading_rma_request
      }

      set isRMARequestLoading(value: boolean) {
        this.loading_rma_request = value
        this.$emit("update:loading_rma_request")
      }

      get isRefundLoading(): boolean {
        return this.loading_refund_request
      }

      set isRefundLoading(value: boolean) {
        this.loading_refund_request = value
        this.$emit("update:loading_refund_request")
      }
      get isSaving(): boolean {
        return this.saving
      }
      set isSaving(value: boolean) {
        this.saving = value
        this.$emit('update:saving', value)
      }
      get snackbarMessage(): string {
        return this.snackbar_message
      }

      set snackbarMessage(value: string) {
        this.snackbar_message = value
        this.$emit("update:snackbar_message", value)
      }

      get snackbarOpen(): boolean {
        return this.snackbar_open
      }

      set snackbarOpen(value: boolean) {
        this.snackbar_open = value
        this.$emit('update:snackbar_open', value)
      }

      get snackbarColor(): string {
        return this.snackbar_color
      }

      set snackbarColor(value: string) {
        this.snackbar_color = value
        this.$emit('update:snackbar_color', value)
      }

      public getStripeLink() {
        return 'https://dashboard.stripe.com/' +
          (process.env.NODE_ENV == 'production' ? '' : 'test/') +
          'payments/' + this.order_page.payment_id
      }
      
      async mounted() {
        
        await this.loadOrderPage(true)
      }

      async beforeRouteEnter(to:any, from:any, next:any) {

        next(async (vm:any) => {
          await vm.loadOrderPage(true)
        })
      }

      async loadOrderPage(bustCache = false) {
        let params = this.$route.params
        let order_id = params.id
        let config = {
          headers: {},
          params: {
            _id: order_id
          }
        }
        if (bustCache) {
          config['headers'] = {
            'pragma': 'no-cache',
            'cache-control': 'no-cache'
          }
        } else {
          delete config.headers
        }
        this.isLoading = true
        let data = await this
          .$axios
          .get(
            '/api/admin/order',
            config
          )
        this.isLoading = false
        this.orderPage = data.data

        let _rma_tracking_sent_dates:any = {}
        let _rma_tracking_sent_date_menus:any = {}
        let _rma_tracking_to_customer_dates:any = {}
        let _rma_tracking_to_customer_date_menus:any = {}

        if (this.orderPage.rma_request.length > 0) {
          this.orderPage.rma_request.map((rma:any) => {
            _rma_tracking_sent_dates[rma._id] = this.formatToInputDate(rma.rma_tracking_sent_date)
            _rma_tracking_sent_date_menus[rma._id] = false
            _rma_tracking_to_customer_dates[rma._id] = this.formatToInputDate(rma.rma_tracking_to_customer_date)
            _rma_tracking_to_customer_date_menus[rma._id] = false
          })
        }

        if (this.orderPage.ship_date) {
          this.ship_tracking_date_formatted = this.formatToInputDate(this.orderPage.ship_date)
          this.ship_tracking_menu = false
        }

        this.rma_tracking_sent_dates = _rma_tracking_sent_dates
        this.rma_tracking_sent_date_menus = _rma_tracking_sent_date_menus
        this.rma_tracking_to_customer_dates = _rma_tracking_to_customer_dates
        this.rma_tracking_to_customer_date_menus = _rma_tracking_to_customer_date_menus
        return
      }
      async requestRMA(orderProduct:any) {
        console.log("RMA requested!")
        this.isRMARequestLoading = true;
        // let tmr = setTimeout(() => {
        //   this.isRMARequestLoading = false;
        //   clearTimeout(tmr)
        // }, 3000);
        let result;
        try {
          let productRMAs = [];
          // products.map();
          

          result = await this.$axios.put(
            '/api/admin/order/rma',
            {
              order_id: this.orderPage._id,
              order_product_id: orderProduct._id
            }
          );

          await this.loadOrderPage(true)
          this.isRMARequestLoading = false
          this.pushMessageToToaster('New RMA created.', 'success')
          this.$eventBus.$emit('update:order')
        } catch (err) {
          console.error('Error caught in /dashboard/order/_id::requestRMA()', err)
          this.pushMessageToToaster(err, 'error')
        }

        return
      }
      async updateRMA(rma:any) {
        console.log("updateRMA", rma)
        let updateResult;

        try {
          let data = ({
              _id: rma._id,
              rma_tracking: rma.rma_tracking,
              rma_tracking_to_customer: rma.rma_tracking_to_customer,
              rma_tracking_sent_date: rma.rma_tracking_sent_date,
              rma_tracking_to_customer_date: rma.rma_tracking_to_customer_date
            });

          // if (!rma.rma_tracking) delete data.rma_tracking
          // if (!rma.rma_tracking_to_customer) delete data.rma_tracking_to_customer
          if (!rma.rma_tracking_sent_date) delete data.rma_tracking_sent_date
          if (!rma.rma_tracking_to_customer_date) delete data.rma_tracking_to_customer_date

          console.log("updateRMA with data", data)
          this.isRMARequestLoading = true
          updateResult = await this
            .$axios
            .post('/api/admin/order/rma', data)
          this.isRMARequestLoading = false
          this.pushMessageToToaster('RMA updated.', 'success')
          this.$eventBus.$emit('update:order')
        } catch (err) {
          console.log(err, err.response)
          this.pushMessageToToaster(err, 'error')
        }
      }
      async removeRMA(rma_id:string) {
        let deleteResult
        this.isRMARequestLoading = true

        try {
          deleteResult = this.$axios.delete('/api/admin/order/rma', { data: { _id: rma_id }})
          await this.loadOrderPage(true)
          this.isRMARequestLoading = false
          this.pushMessageToToaster('RMA removed.', 'success')
          this.$eventBus.$emit('update:order')
        } catch (err) {
          // console.error('Error caught in /dashboard/order/_id::removeRMA(' + rma_id + ')', err, deleteResult)
          
            // this.$toast.error(err)
          this.pushMessageToToaster(err, 'error')
          this.isRMARequestLoading = false
        }
      }

      public pushMessageToToaster(err:any, color:string) {
        let allErrors:any = [];
        // console.log(typeof err);
        if (typeof err == 'string') {
          allErrors = [err]
        } else {
          // console.log('err.response.data', err.response.data);
          err.response.data.errors.map((e:any) => {
              if (typeof e == 'object') {
                allErrors.push(e.msg + " at " + e.location + ":" + e.param + " (" + e.value + ")")
              } else {
                allErrors.push(e)
              }
          })
        }

        allErrors = allErrors.join("\n")

        this.snackbarColor = color
        this.snackbarMessage = allErrors
        this.snackbarOpen = true
        this.isRMARequestLoading = false
      }

      public formatToInputDate(value:string) {
        console.log("formatToInputDate", value)
        return this.$moment(value, 'YYYY-MM-DD').format('YYYY-MM-DD')
      }

      public async saveOrder($ev:any) {
        let saveResult;
        // console.log("saveOrder()")
        try {
          this.isSaving = true
          saveResult = await this
            .$axios
            .put(
              '/api/admin/order',
              {
                order: this.orderPage
              }
            )

          this.isSaving = false
          this.pushMessageToToaster('Order saved!', 'success')
          this.$eventBus.$emit('update:order')
        } catch (err) {
          this.pushMessageToToaster(err, 'error')
          this.isSaving = false
        }
      }

      public async refundOrder(order_products:any = null, order_services: any = null) {

        let refundResult

        try {
          this.isRefundLoading = true
          this.isSaving = true
          let data = {
            _id: this.orderPage._id,
            orderProducts: null,
            orderServices: null
          };

          if (order_products && order_products.length > 0) {
            data['orderProducts'] = this
              .orderPage
              .products
              .filter((order_product:any) => {
                return !order_product.isRefunded
              })
          }

          if (order_services && order_services.length > 0) {
            data['orderServices'] = this
              .orderPage
              .services
              .filter((order_service:any) => {
                return !order_service.isRefunded
              })
          }

          refundResult = await this.$axios.post(
            '/api/admin/order/refund',
            data
          )
          this.isRefundLoading = false
          this.isSaving = false
          console.log("refundOrder() result", refundResult)
          this.pushMessageToToaster('Refund complete!', 'success')
          // this.loadOrderPage(true)
          this.$eventBus.$emit('update:order')
        } catch (err) {
          console.log("refundOrder() error", err)
          if (
            err.response &&
            err.response.data &&
            err.response.data.errors &&
            err.response.data.errors.length > 0 &&
            err.response.data.errors[0].type
          ) {
            let stripeError = err.response.data.errors[0];

            this.pushMessageToToaster(stripeError.raw.message, 'error')
            this.loadOrderPage(true)
            this.isRefundLoading = false
            this.isSaving = false
          } else {
            this.pushMessageToToaster(err, 'error')
            this.isRefundLoading = false
            this.isSaving = false
          }
        }
      }

      data() {
        return {
          order_page: null,
          loading: true,
          loading_rma_request: false,
          loading_refund_request: false,
          saving: false,
          snackbar_color: 'error',
          snackbar_message: '',
          snackbar_open: false,
          rma_tracking_sent_dates: {},
          rma_tracking_sent_date_menus: {},
          rma_tracking_to_customer_dates: {},
          rma_tracking_to_customer_date_menus: {},
          ship_tracking_menu: false,
          ship_tracking_date_formatted: ''
        }
      }
    }
</script>