<template>
  <v-app light>
    <div style="min-height: calc(100% - 8rem)">
      
      <v-toolbar light color="noir_primary main-toolbar" height="72" max-height="72">
        <v-toolbar-title class="headline text-uppercase">
          <v-btn large color="noir_primary" class="company-name fugaz-one slide-out-left-start slide-in-left animation-delay-10" :to="{path:'/'}">{{businessName}}</v-btn>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <client-only>
          <v-btn
            v-if="isAuthenticated"
            :to="{path:'/dashboard'}"
            fab
            class="ma-2"
            color="primary"><v-icon class="dashboard"></v-icon></v-btn>
          <v-btn
            v-if="isAuthenticated"
            @click="logOut"
            fab
            class="ma-2"
            color="noir_secondary"><v-icon class="exit_to_app"></v-icon></v-btn>
          <v-btn
            v-else
            color="noir_secondary"
            :to="{path: '/login'}">Log In</v-btn>
        </client-only>
        <v-btn
          v-if="$nuxt.$route.name == 'checkout'"
          :to="{path:'/'}"
          class="cart-button expand-vertical-start expand-vertical">
          <v-icon color="secondary">arrow_left</v-icon>
          <span class="mr-2">Keep Shopping</span>
        </v-btn>
        <v-btn
          v-else
          text
          :to="{path: '/checkout'}"
          class="cart-button expand-vertical-start expand-vertical"
        >
          <span class="mr-2">Cart <span v-if="$store.state.cart && $store.state.cart.length > 0">({{cartItemCount}})</span></span>
          <v-icon color="secondary">shopping_cart</v-icon>
        </v-btn>

      </v-toolbar>

      <v-main class="noir_primary" style="min-height: 100%;">
        <transition :name="transitionName">
          <keep-alive>
            <router-view />
          </keep-alive>
        </transition>
      </v-main>
      <Footer></Footer>
    </div>
  </v-app>
</template>
<script lang="ts">
  import Vue from 'vue';
  import 'material-design-icons-iconfont/dist/material-design-icons.css'
  import Footer from '@/layouts/partials/Footer.vue'
  import { mapGetters } from 'vuex'

  const DEFAULT_TRANSITION = 'fade'

  export default Vue.extend({
    name: 'App',
    components: {
      Footer
    },
    mounted() {
      //
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'loggedInUser']),
      cartItemCount: {
        get() {
          let value = 0
          this.$store.state.cart.map((item:any) => {value += (+item.quantity)})
          return value;
        },
        set() {

        }
      }
    },
    methods: {
      async logOut() {
        let result: any = await this.$auth.logout()

        return result
      }
    },
    data() {
      return {
        businessName: process.env.BUSINESS_NAME,
        transitionName: DEFAULT_TRANSITION
      }
    },
    created() {
      this.$router.beforeEach((to, from, next) => {
        let transitionName = to.meta.transitionName || from.meta.transitionName;

        if (transitionName === 'slide') {
          const toDepth = to.path.split('/').length;
          const fromDepth = from.path.split('/').length;

          transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left';
        }

        this.transitionName = transitionName || DEFAULT_TRANSITION;

        next();
      });
    }
});

</script>
<style>
  .main-toolbar {
    /*z-index: 0*/
  }
  main.noir-primary > div.v-content__wrap {
    background-image: url('/assets/favicon.png');
  }
</style>