<template>
    <div class="d-flex sliding flex-wrap justify-start">
        
        <div class="d-flex flex-wrap" style="margin-left: 5rem">
          <OrderStatusCard verb="Unshipped" status="unshipped"></OrderStatusCard>
          <OrderStatusCard verb="RMA Orders" status="rma"></OrderStatusCard>
          <OrderStatusCard verb="Refund Requests" status="refund"></OrderStatusCard>


          <v-container class="d-flex flex-row full-width">
            <v-row>
              <v-col>
                <v-card>
                  <v-card-title primary-title>
                    Orders ({{allOrders.count}})
                  </v-card-title>
                  <v-card-text v-if="isLoading">
                    <v-progress-circular indeterminate :size="100" color="primary"></v-progress-circular>
                  </v-card-text>
                  <v-container v-else>
                    <v-card-text v-for="order in allOrders.data" :key="order._id">
                      <v-row>
                        <v-col cols="2">
                          <v-icon color="red" v-if="!!order.full_refund_id">money_off</v-icon>
                          <v-icon color="yellow" v-if="!order.full_refund_id && !order.ship_tracking">notification_important</v-icon>
                          <v-icon color="yellow" v-if="!!order.rma_request.length">swap_horiz</v-icon>
                          <v-icon color="green" v-else-if="!order.full_refund_id && !!order.ship_tracking">check_circle</v-icon>
                        </v-col>
                        <v-col>
                          <div class="h6">{{order.receipt_email}}</div>
                          <div class="subtitle-1">
                            {{order.products.length ? countProducts(order) + " Product(s)" : ""}}{{order.services.length ? (order.products.length ? ", " : "") + countServices(order) + " Service(s)" : ""}}</div>
                          <div class="subtitle-2">{{$moment(order.order_date).calendar()}} - {{order | toCurrencyFloat}}</div>
                        </v-col>
                        <v-col cols="2">
                          <v-btn :to="`/dashboard/order/${order._id}`">View</v-btn>
                        </v-col>
                      </v-row>
                    </v-card-text>
                  </v-container>  
                  
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </div>
        
    </div>
</template>
<script lang="ts">
    import { Component, Vue} from 'nuxt-property-decorator'
    import { mapGetters } from 'vuex'
    import OrderStatusCard from '@/components/OrderStatusCard.vue'

    export type VForm = Vue & {validate: () => boolean}

    @Component({
      layout: 'dashboard',
      middleware: 'auth',
      components: {
        // UnshippedCard
        OrderStatusCard
      },
      computed: {
        ...mapGetters(['isAuthenticated', 'loggedInUser']),
      },
      filters: {
        upperCase: (value:string) => {
          return value.toUpperCase()
        },
        toCurrencyFloat: (order:any) => {
          let currencySymbol;
          switch (order.currency) {
            case "usd":
              // code...
            default:
              currencySymbol = '$'
              // code...
              break;
          }
          return currencySymbol + ((+order.total_cost / 100).toFixed(2))
        }
      }
    })
    export default class DashboardIndex extends Vue {
      public all_orders: any
      public loading: boolean
      public $eventBus:any // set by plugin

      get allOrders(): any {
        return this.all_orders
      }

      set allOrders(value: any) {
        this.all_orders = value
        this.$emit('update:all_orders', value)
      }

      get isLoading(): boolean {
        return this.loading
      }

      set isLoading(value: boolean) {
        this.loading = value
        this.$emit('update:is_loading', value)
      }
      created() {

        // this.$eb.$on('update:order', () => this.loadOrders(true))
      }
      async mounted() {
        await this.loadOrders()
        this.$eventBus.$on('update:order', async () => { await this.loadOrders(true)})
      }

      // async beforeRouteEnter(to:any, from:any, next:any) {

      //   next(async (vm:any) => {
      //     await vm.loadOrders(true)
      //   })
      // }

      public countProducts(order:any) {
        let result = 0

        order.products.map((orderProduct:any) => {
          result += (+orderProduct.quantity)
        })

        return result
      }

      public countServices(order:any) {
        let result = 0

        order.services.map((orderService:any) => {
          result += (+orderService.quantity)
        })

        return result
      }

      public async loadOrders(bustCache:boolean = false) {
        let query = await this.$route.query
        // console.log("router.query", query)

        let skip: number = (+query.skip) || 0
        let limit: number = (+query.limit) || 5
        let sortKey: any = query.sortKey || "order_date"
        let sortOrder: any = query.sortOrder || -1
        let beforeDate: any = query.beforeDate ? query.beforeDate : null
        let afterDate: any = query.afterDate ? query.afterDate  : null

        let params: any = {
          skip,
          limit,
          sortKey,
          sortOrder
        }

        if (beforeDate) params['beforeDate'] = beforeDate
        if (afterDate) params['afterDate'] = afterDate

        this.isLoading = true
        let config = {
          headers: {},
          params
        }
        if (bustCache) {
          config['headers'] = {
            'pragma': 'no-cache',
            'cache-control': 'no-cache'
          }
        } else {
          delete config.headers
        }

        let orders = await this
          .$axios
          .get(
            '/api/admin/order',
            config
          )
        // console.log("axios /api/admin/order", orders)
        this.allOrders = orders.data
        this.isLoading = false
      }

      data() {
        return {
          all_orders: [],
          loading: false
        }
      }
    }
</script>